
/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 80%;
  font-family: "Noto Sans", sans-serif;
  color: #000000;
  background: ##ffffff;
  /*background: #48b379;*/
  /*color: #eee9dc;*/
  
}

h2 {
  margin: 1em 0 0 0;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

img.displayed {
    width: 100%;
    height: auto;
    /*max-width: 100%;*/
    display: block;
    margin-left: auto;
    margin-right: auto }

.purple {
  color: #ce0f6c;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 20px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #000000;
}
#timeline li {
  margin: 10px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -183px;
  font-size: =.80em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  /*background: #48b379;*/
  background: #ffffff;
  border: 5px solid #000000;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  /*border-right-color: #48b379;*/
  border-right-color: #ffffff;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
}

label purple {
  color: #ce0f6c;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #ce0f6c;
}
.radio:checked ~ .content {
  max-height: 180px;
  border-color: #000000;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #000000;
  transition: color 0.3s linear 0.3s;
}


/* iPhone Portrait */
@media screen and (max-width: 480px) and (orientation:portrait) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 10px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #000000;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    /*border-bottom-color: #48b379;*/
    border-bottom-color: #ffffff;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .content p {
    font-size: 0.8em;
    line-height: 2.5;
  }

  .circle, .date {
    display: none;
  }
} 


/* unvisited link */
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: #ce0f6c;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/*Nav Bar*/
.container {
    padding-top: 5px;
    padding-right: 5px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    top:0;
    right:0;
}

.container2 {
    padding-top: 0px;
    padding-right: 5px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    top:55px;
    right:0;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}